<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-center align-items-center">
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="/"> 
                    <img src="assets/images/logo.png" width="200px">
                </a>
            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 mb-2 bg-blue">
        <nav class="nav d-flex justify-content-center">
            <a class="text-white" routerLink="">Home</a>
            <a class="text-white" routerLink="about">About</a>
            <a class="text-white" routerLink="phones">Phones</a>
            <a class="text-white" routerLink="create">Add new phone  </a>
        </nav>
    </div>
<router-outlet></router-outlet>
</div>
<footer>
    <h5>Contact Us</h5> 
    <p>53 E 116th St, <br>New York, NY 10029, <br>United States</p>
    <a href="mailto:myestore@akhilmanual.com">myestore@akhilmanual.com</a><br>
    <a href="tel:+1 1234 56789">+1 1234 56789</a><br>
    <small>Copyright © 2021 Mealtime Cafe </small>        
</footer>

